<header>
  {{ .Scratch.Set "title" (default .Site.Title (default .Title .Params.name)) }}
  <h1>{{ title (.Scratch.Get "title") | replaceRE "[A-Z]" "<span class='first'>$0</span>" | safeHTML }}
  </h1>
  {{- if (ne .File.TranslationBaseName "search") -}}
  
  {{- end -}}
  {{ if (eq .Section "authors") -}}
  {{ with (index $.Site.Data.authors .Title )}}
  {{ with .website}}
  <p><a href="{{ . }}">{{ . }}</a></p>
  {{- end -}}{{- end -}}{{- end -}}
  {{- $site := . -}}
  {{ with .Params.authors}}
  <p>{{- partial "authors.html" (dict "site" $site "authors" .) -}}
    {{ with $site.Params.contributors }}
    with contributions from {{ partial "authors.html" (dict "site" $site "authors" .) -}}
    {{ end }}
  </p>
  {{ end }}
  {{ with .Params.date }}
  <p class="date">{{- dateFormat "2 January 2006" . -}}</p>
  {{ end }}
</header>