<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{- $siteTitle := ( .Site.Title ) -}}
  {{- if .IsHome -}}
  <title>{{- $siteTitle -}} </title>
  {{- else -}}
  <title>{{- .Params.title }} - {{ $siteTitle -}}</title>
  {{- end -}}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{- with .OutputFormats.Get "rss" -}}
  {{- printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML -}}
  {{- end -}}

  {{- template "_internal/opengraph.html" . -}}
  {{- template "_internal/twitter_cards.html" . -}}
  <link rel="stylesheet" type="text/css" media="screen" href="{{- .Site.BaseURL -}}css/front.css" />
  <link rel="icon" href="/images/favicon.ico" type="image/icon">

  {{- if (eq .Section "entries") -}}
    {{/*
      The following is the MathJax configuration.
      This means that formulae can be enclosed in either $ … $ or \( … \)
    */}}
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        processEscapes: true,
        svg: {
          fontCache: 'global'
        }
      };
    </script>
    {{/* The following can be used instead to use MathJax from their CDN as opposed to our local copy.
      <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
      </script>
    */}}
    <script id="MathJax-script" async src="/js/mathjax/es5/tex-mml-chtml.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/script.js"></script>
  {{ end }}
  <script src="/js/flexsearch.min.js"></script>
  {{- if (eq .File.TranslationBaseName "search") -}}
  <script src="/js/search.js"></script>
  {{- else -}}
  <script src="/js/header-search.js"></script>
  {{- end -}}
</head>