<header>
  {{ .Scratch.Set "title" (default .Site.Title (default .Title .Params.name)) }}
  <h1>{{ title (.Scratch.Get "title") | replaceRE "[A-Z]" "<span class='first'>$0</span>" | safeHTML }}
  </h1>
  {{- if (ne .File.TranslationBaseName "search") -}}
  <form action="{{ " search" | absURL }}">
    <div class='form-container'>
      <input {{ if (eq .Section "entries") -}}style="display: none"{{- end }} class="searchInput" type="search" size="31" maxlength="255" value=""><button class="searchButton"
        type="button"><img src="/images/search.svg"/></button>
      <div id="searchInputautocomplete-list" style="display: none">
        <div></div>
      </div>
    </div>
  </form>
  {{- end -}}
  {{ if (eq .Section "authors") -}}
  {{ with (index $.Site.Data.authors .Title )}}
  {{ with .website}}
  <p><a href="{{ . }}">{{ . }}</a></p>
  {{- end -}}{{- end -}}{{- end -}}
  {{- $site := . -}}
  {{ with .Params.authors}}
  <p>{{- partial "authors.html" (dict "site" $site "authors" .) -}}
    {{ with $site.Params.contributors }}
    with contributions from {{ partial "authors.html" (dict "site" $site "authors" .) -}}
    {{ end }}
  </p>
  {{ end }}
  {{ with .Params.date }}
  <p class="date">{{- dateFormat "2 January 2006" . -}}</p>
  {{ end }}
</header>