{{- $entryName := .File.TranslationBaseName -}}
<div>
  <div>
    <a href="{{- .Site.BaseURL -}}">
      <img src="{{- .Site.BaseURL -}}images/afp.png" alt='Logo of the Archive of Formal Proofs'
        class="logo">
    </a>
    {{ $currentPage := . -}}
    <ul>
      <a href="{{- .Site.BaseURL -}}entries/{{- $entryName | urlize -}}"><li>Return to entry</li></a>
    </ul>
    <hr>
    <ul>
      {{- range .Params.theories }}
      <a href="#{{- . -}}"><li>{{- . -}}</li></a>
      {{- end }}
    </ul>
  </div>
  <ul>
    <a href="https://www.isa-afp.org/browser_info/current/AFP/{{- $entryName -}}/outline.pdf"><li>Proof
      outline</li></a>
    <a href="https://www.isa-afp.org/browser_info/current/AFP/{{- $entryName -}}/document.pdf"><li>Proof
      document</li></a>
    <a href="https://www.isa-afp.org/browser_info/current/AFP/{{- $entryName -}}/session_graph.pdf"><li>Theory dependencies</li></a>
  </ul>
</div>