{{ define "main" }}

<h2>Entries</h2>

{{- range (.Data.Pages).GroupByDate "2006" -}}
{{- if ne .Key "0001" -}}
<table width="80%" class="entries">
  <tbody>
    <tr>
      <td class="head">{{ .Key }}</td>
    </tr>
    {{- range .Pages -}}
    {{ .Params.hidden }}
    <tr>
      <td class="entry">
        {{ .Date.Format "January 2" }}: <a class="title" href="{{ .RelPermalink }}">{{.Title}}</a>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
<p>&nbsp;</p>
{{ end }}
{{ end }}

{{ end }}