{{ define "footerfiles" }}
<script src="/js/mark.min.js"></script>
{{ end -}}

{{- define "main" }}
<form action="{{ "search" | absURL }}">
  <div class='form-container'>
    <input id="searchInput" type="search" size="31" maxlength="255" value=""  aria-label="Search the AFP" list="autocomplete"><button id="searchButton"
      type="button">Search</button>
    <datalist id="autocomplete">
    </datalist>
  </div>
</form> 

<div id="sidebar"><div id="authorTopic"></div></div> 

<div id="search-results">
</div>
{{ end }}