{{ define "footerfiles" }}
<script src="/js/flexsearch.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="/js/search.js"></script>
{{ end }}
{{ define "main" }}
<form action="{{ "search" | absURL }}">
  <input id="searchInput" type="text" size="31" maxlength="255" value=""><button id="searchButton" type="button">Search</button>
</form> <br>
<table width="80%" class="entries">
  <tbody id="search-results">
    <tr>
      <td class="head">Matching entries</td>
    </tr>
  </tbody>
</table>
<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
    <tr>
      <td class="entry" id="summary-${key}">
        <a download href="/release/afp-${shortname}-current.tar.gz">Download</a>
        <a class="title" href="${link}">${title}</a> <br>
        <p>${abstract}</p>
        <p><i>${ isset topics }Topics: ${topics}${ end }</i></p>
      </td>
    </tr>
</script>
{{ end }}