<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body class="mathjax_ignore">
  <table width="100%">
    <tbody>
      <tr>
        <!-- Navigation -->
        <td width="20%" align="center" valign="top">
          {{ partial "navigation.html" . }}
        </td>


        <!-- Content -->
        <td width="80%" valign="top">
          <div align="center">
            <div id="content">
              {{ partial "header.html" . }}

              <div class="container wrapper post">

                <div class="markdown">
                  {{ .Content }}
                </div>

                <div class="post-tags">
                  {{ if ne .Type "page" }}
                  {{ if gt .Params.tags 0 }}
                  <nav class="nav tags">
                    <ul class="flat">
                      {{ range .Params.tags }}
                      <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                      {{ end }}
                    </ul>
                  </nav>
                  {{ end }}
                  {{ end }}
                </div>
              </div>
            </div>
            {{ partial "footer.html" . }}
</body>

</html>