<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body class="mathjax_ignore">
  <table width="100%">
    <tbody>
      <tr>
        <!-- Navigation -->
        <td width="20%" align="center" valign="top">
          {{ partial "navigation.html" . }}
        </td>


        <!-- Content -->
        <td width="80%" valign="top">
          <div align="center">
            {{ partial "header.html" . }}

            <table width="80%" class="data">
              <tbody>
                {{ range $key, $value := (index .Site.Data .File.TranslationBaseName )}}
                <tr>
                  <td class="datahead">{{ title $key }}:</td>
                  <td class="data">{{ $value }}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
            <p></p>

            <table class="links">
            </table>
          </div>
        </td>
      </tr>
    </tbody>
</body>

</html>