{{ define "main" }}

<table width="80%" class="data">
  <tbody>
    <tr>
      <td class="datahead" width="20%">Title:</td>
      <td class="data" width="80%">{{ htmlUnescape .Params.title }}</td>
    </tr>

    <tr>
      <td class="datahead">Authors:</td>
      <td class="data">{{ partial "authors.html" (dict "site" . "authors" .Params.authors) }}</td>
    </tr>

    <tr>
      <td class="datahead">Submission date:</td>
      <td class="data">{{ dateFormat "2006-01-02" .Params.date }}</td>
    </tr>

    <tr>
      <td class="datahead" valign="top">Abstract:</td>
      <td class="abstract mathjax_process">{{ $.Page.RenderString .Params.abstract }}</td>
    </tr>

    <tr>
      <td class="datahead" valign="top">BibTeX:</td>
      <td class="formatted">
        <pre>{{ .Params.bibtex }}</pre>
      </td>
    </tr>

    <tr>
      <td class="datahead">License:</td>
      <td class="data">
        {{ if (eq .Params.licence "BSD") }}
        <a href="http://isa-afp.org/LICENSE">BSD License</a>
        {{ else }}
        <a href="http://isa-afp.org/LICENSE.LGPL">GNU Lesser General Public License (LGPL)</a>
        {{ end }}
      </td>
    </tr>

    {{- with .Params.usedBy -}}<tr>
      <td class="datahead">Used by:</td>
      <td class="data">{{ delimit . ", " | replaceRE "(, )([^,]+$)" " and $2" | $.Page.RenderString}}</td>
    </tr>{{- end -}}

    {{- with .Params.dependsOn -}}<tr>
      <td class="datahead">Depends On:</td>
      <td class="data">{{ delimit . ", " | replaceRE "(, )([^,]+$)" " and $2" | $.Page.RenderString }}</td>
    </tr>{{- end -}}
  </tbody>
</table>
<p></p>
{{ $entryName := .File.TranslationBaseName }}
<table class="links">
  <tbody>
    <tr>
      <td class="links">
        <a href="../browser_info/current/AFP/{{- $entryName -}}/outline.pdf">Proof
          outline</a><br>
        <a href="../browser_info/current/AFP/{{- $entryName -}}/document.pdf">Proof
          document</a>
      </td>
    </tr>

    <tr>
      <td class="links">
        <a href="../browser_info/current/AFP/{{- $entryName -}}/index.html">Browse
          theories</a>
      </td>
    </tr>

    <tr>
      <td class="links">
        <a href="../release/afp-{{- $entryName -}}-current.tar.gz">Download this entry</a>
      </td>
    </tr>

    <tr>
      <td class="links">Older releases:
        <ul>
          {{ with .Params.olderReleases }}
          {{ range $key, $value := . }}
          <li>Isabelle {{ $key }}:
            <a href="../release/afp-{{- $entryName -}}-{{ $value }}.tar.gz">
              afp-{{- $entryName -}}-{{ $value }}.tar.gz
            </a>
          </li>
          {{ end }}
          {{ else }}
          None
          {{ end }}
        </ul>
      </td>
    </tr>
  </tbody>
</table>

{{ end }}