{{- define "main" -}}
{{- $site := . -}}
<main>
  <h3>Abstract</h3>

  <p class="abstract mathjax_process">{{- trim .Params.abstract "\n" | safeHTML -}}</p>
  {{- if (eq .Params.licence "BSD") -}}
  <a href="http://isa-afp.org/LICENSE">BSD License</a>
  {{- else -}}
  <a href="http://isa-afp.org/LICENSE.LGPL">GNU Lesser General Public License (LGPL)</a>
  {{- end -}}

  {{- with .Params.extra -}}
  {{- range $key, $value := . -}}
  <h3>{{- humanize $key -}}</h3>

  <p>{{- $value -}}</p>
  {{- end -}}
  {{- end -}}
  {{- $Scratch := newScratch -}}
  {{- with .Params.dependencies -}}<tr>
    {{- range . -}}
    {{- $dependency := printf "[%s](%s%s)" . ("/entries/" | relLangURL) (. | urlize) -}}
    {{- $Scratch.Add "dependencies" (slice $dependency) -}}
    {{- end -}}
    <h3>Depends On</h3>
    <p>{{- delimit ($Scratch.Get "dependencies") ", " | replaceRE "(, )([^,]+$)" " and $2" | $.Page.RenderString -}}
    </p>
  </tr>{{- end -}}

  {{- with (index .Site.Taxonomies.dependencies (urlize .File.TranslationBaseName)) -}}<tr>
    {{- range $key := .Pages.ByDate -}}
    {{- $dependent := printf "[%s](%s)" .File.TranslationBaseName .RelPermalink -}}
    {{- $Scratch.Add "dependents" (slice ($dependent)) -}}
    {{- end -}}
    <h3>Used by</h3>
    <p>{{- delimit ($Scratch.Get "dependents") ", " | replaceRE "(, )([^,]+$)" " and $2" | $.Page.RenderString -}}
    </p>
  </tr>{{- end -}}

  {{- with .Params.relatedEntries -}}
  {{- range . -}}
  {{- $relatedEntry := printf "[%s](%s%s)" . ("/entries/" | relLangURL) (. | urlize) -}}
  {{- $Scratch.Add "relatedEntries" (slice $relatedEntry) -}}
  {{- end -}}
  <h3>Related Entries</h3>
  <p>
    {{- delimit ($Scratch.Get "relatedEntries") ", " | replaceRE "(, )([^,]+$)" " and $2" | $.Page.RenderString -}}
  </p>
  {{- end -}}
</main>

<nav class='links'>{{- $entryName := .File.TranslationBaseName -}}
  <button>Cite</button>
  <button href="../release/afp-{{- $entryName -}}-current.tar.gz">Download</button>
  <a href="../browser_info/current/AFP/{{- $entryName -}}/outline.pdf">Proof
    outline</a>
  <a href="../browser_info/current/AFP/{{- $entryName -}}/document.pdf">Proof
    document</a>
  <a href="../browser_info/current/AFP/{{- $entryName -}}/index.html">Browse
    theories</a>
</nav>

{{- end -}}