{{- define "main" -}}
{{- $site := . -}}
<table class="data">
  <colgroup>
    <col style="width:20%">
    <col style="width:80%">
  </colgroup>
  <tbody>
    <tr>
      <td class="datahead">Title:</td>
      <td class="data">{{- htmlUnescape .Params.title -}}</td>
    </tr>

    <tr>
      <td class="datahead">Author{{- if (gt (len .Params.authors) 1) -}}s{{- end -}}:</td>
      <td class="data">{{- partial "authors.html" (dict "site" . "authors" .Params.authors) -}}</td>
    </tr>

    {{- with .Params.contributors -}}
    <tr>
      <td class="datahead">Contributor{{- if (gt (len .) 1) -}}s{{- end -}}:</td>
      <td class="data">{{- partial "authors.html" (dict "site" $site "authors" .) -}}</td>
    </tr>
    {{- end -}}

    <tr>
      <td class="datahead">Submission date:</td>
      <td class="data">{{- dateFormat "2006-01-02" .Params.date -}}</td>
    </tr>

    <tr>
      <td class="datahead" valign="top">Abstract:</td>
      <td class="abstract mathjax_process">{{- trim .Params.abstract "\n" | safeHTML -}}</td>
    </tr>

    {{- with .Params.extra -}}
    {{- range $key, $value := . -}}
    <tr>
      <td class="datahead" valign="top">{{- humanize $key -}}:</td>
      <td class="data">{{- $value -}}</td>
    </tr>
    {{- end -}}
    {{- end -}}

    <tr>
      <td class="datahead" valign="top">BibTeX:</td>
      <td class="formatted">
        <pre>@article{{- "{" -}}{{- .File.TranslationBaseName -}}-AFP,
  author  = {{- "{" -}}{{- delimit .Params.authors ", " | replaceRE "(, )([^,]+$)" " and $2" -}}},
  title   = {{- "{" -}}{{- htmlUnescape .Params.title -}}},
  journal = {Archive of Formal Proofs},
  month   = {{- dateFormat "January" .Params.date -}},
  year    = {{- dateFormat "2006" .Params.date -}},
  note    = {\url{http://isa-afp.org/entries/{{- .File.TranslationBaseName -}}.html},
            Formal proof development},
  ISSN    = {2150-914x},
}</pre>
      </td>
    </tr>

    <tr>
      <td class="datahead">License:</td>
      <td class="data">
        {{- if (eq .Params.licence "BSD") -}}
        <a href="http://isa-afp.org/LICENSE">BSD License</a>
        {{- else -}}
        <a href="http://isa-afp.org/LICENSE.LGPL">GNU Lesser General Public License (LGPL)</a>
        {{- end -}}
      </td>
    </tr>
    {{- $Scratch := newScratch -}}

    {{- with .Params.dependencies -}}<tr>
      {{- range . -}}
      {{- $dependency := printf "[%s](%s%s)" . ("/entries/" | relLangURL) (. | urlize) -}}
      {{- $Scratch.Add "dependencies" (slice $dependency) -}}
      {{- end -}}
      <td class="datahead">Depends On:</td>
      <td class="data">
        {{- delimit ($Scratch.Get "dependencies") ", " | replaceRE "(, )([^,]+$)" " and $2" | $.Page.RenderString -}}
      </td>
    </tr>{{- end -}}

    {{- with (index .Site.Taxonomies.dependencies (urlize .File.TranslationBaseName)) -}}<tr>
      {{- range $key := .Pages.ByDate -}}
      {{- $dependent := printf "[%s](%s)" .File.TranslationBaseName .RelPermalink -}}
      {{- $Scratch.Add "dependents" (slice ($dependent)) -}}
      {{- end -}}
      <td class="datahead">Used by:</td>
      <td class="data">
        {{- delimit  ($Scratch.Get "dependents") ", " | replaceRE "(, )([^,]+$)" " and $2" | $.Page.RenderString -}}
      </td>
    </tr>{{- end -}}
  </tbody>
</table>
<p></p>
{{- with .Params.relatedEntries -}}
<table class="data">
  <tbody>
    <tr>
      {{- range . -}}
      {{- $relatedEntry := printf "[%s](%s%s)" . ("/entries/" | relLangURL) (. | urlize) -}}
      {{- $Scratch.Add "relatedEntries" (slice $relatedEntry) -}}
      {{- end -}}
      <td class="datahead">Related Entries:</td>
      <td class="data">
        {{- delimit ($Scratch.Get "relatedEntries") ", " | replaceRE "(, )([^,]+$)" " and $2" | $.Page.RenderString -}}
      </td>
    </tr>
  </tbody>
</table>
<p></p>
{{- end -}}
{{- $entryName := .File.TranslationBaseName -}}
<table class="links">
  <tbody>
    <tr>
      <td class="links">
        <a href="../browser_info/current/AFP/{{- $entryName -}}/outline.pdf">Proof
          outline</a><br>
        <a href="../browser_info/current/AFP/{{- $entryName -}}/document.pdf">Proof
          document</a>
      </td>
    </tr>

    <tr>
      <td class="links">
        <a href="../browser_info/current/AFP/{{- $entryName -}}/index.html">Browse
          theories</a>
      </td>
    </tr>

    <tr>
      <td class="links">
        <a href="../release/afp-{{- $entryName -}}-current.tar.gz">Download this entry</a>
      </td>
    </tr>

    <tr>
      <td class="links">Older releases:
        {{ with .Params.olderReleases -}}
        <ul>
          {{- range $map := . -}}
          {{- range $key, $value := $map -}}
          <li>Isabelle {{- $key -}}:
            <a href="../release/afp-{{- $entryName -}}-{{- $value -}}.tar.gz">
              afp-{{- $entryName -}}-{{- $value -}}.tar.gz
            </a>
          </li>
          {{- end -}}
          {{- end -}}
        </ul>
        {{- else -}}
        None
        {{- end }}
      </td>
    </tr>
  </tbody>
</table>

{{- end -}}