{
    "theories": [
        "Eisbach_Protocol_Verification",
        "Examples",
        "PSPSP",
        "Stateful_Protocol_Model",
        "Stateful_Protocol_Verification",
        "Term_Abstraction",
        "Term_Implication",
        "Term_Variants",
        "Transactions"
    ],
    "url": "entries/automated_stateful_protocol_verification/theories",
    "title": "Session Automated_Stateful_Protocol_Verification"
}