{
    "theories": [
        "attic",
        "Example_BLP",
        "Network_Security_Policy_Verification",
        "SINVAR_Examples",
        "TopoS_Composition_Theory",
        "TopoS_Composition_Theory_impl",
        "TopoS_ENF",
        "TopoS_generateCode",
        "TopoS_Helper",
        "TopoS_Impl",
        "TopoS_Interface",
        "TopoS_Interface_impl",
        "TopoS_Library",
        "TopoS_Stateful_Policy",
        "TopoS_Stateful_Policy_Algorithm",
        "TopoS_Stateful_Policy_impl",
        "TopoS_Vertices",
        "TopoS_withOffendingFlows",
        "vertex_example_simps"
    ],
    "url": "entries/network_security_policy_verification/theories",
    "title": "Session Network_Security_Policy_Verification"
}