body {
    color: #000000;
    background: #FFFFFF;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "sidebar content";
    justify-items: center;
    margin: 0;
}

aside {
    grid-area: sidebar;
    background-color: #2E2D4E;
    width: 20vw;
    margin: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 200px;
}

aside > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
    height: 100vh;
}

.logo {
    width: 40%;
    height: auto;
    padding: 10%;
}

aside div > a {
    display: block;
    text-align: center;
}

aside ul {
    list-style: none;
}

aside ul li a:link,
aside ul li a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

aside li {
    margin: 1em 0;
}

header {
    border-bottom: 2px #555555 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.content {
 grid-area: content;
 padding: 0 15vw;
 max-width: 50vw;
}

.content div {
    line-height: 1.35em;
    width: 100%;
}

a:link {
    color: #0600C8;
    text-decoration: none;
    font-weight: bold;
}

a:hover   { 
    color: #0000EE 
}

h1 {
    font-size: 2em;
    padding: 20px 0;
    /* width: max-content; */
    margin-bottom: 10px;
    margin-top: 10px;
}

.content div h1 {
    border-bottom: 2px #555555 solid;
}

h2 {
 padding: 0;
 margin: 1.5ex 0 1ex;
}

h3 {
 font-stretch: normal;
 font-size: larger;
 padding: 0;
 margin: 2.5em 0 0 0;
}

h3,
h4 {
 font-weight: 700;
 font-family: sans-serif;
 border-style: none;
}

h4 {
 margin-bottom: .5ex;
}

h1 span.first {
 font-size: 2.3rem
}

table.descr {
 margin-top: 20px;
 border-width: thin;
 border-style: solid;
}

table.descr,
td.descr {
 padding: 2ex;
}

table.descr,
table.entries,
td.descr {
 font: normal normal normal medium sans-serif;
 background-color: #D0D0D0;
}

table.entries {
 border-width: thin;
 border-style: solid;
 width: 100%;
}

td.head {
 font: normal normal 700 medium sans-serif;
 color: #E2E2E2;
 background-color: #2e2d4e;
 margin: .5em 1em .5em 0;
 width: 95%
}

td.entry,
td.head {
 letter-spacing: normal;
 text-decoration: none;
 word-spacing: normal;
 line-height: normal;
 padding: .5ex;
 border-width: thin;
 border-style: none;
 height: auto;
 clear: none;
 display: block;
 white-space: normal;
 list-style-position: inside;
}

td.entry {
 font: normal normal normal medium sans-serif;
 color: #000000;
 background-color: #E2E2E2;
 margin: 0 .1em .1em 5%;
 width: 90%;
 position: relative;
}

table.data {
 margin: 0;
 padding: .5ex;
 border-width: thin;
 border-style: solid;
}

td.datahead {
 background-color: #E2E2E2;
}

td.datahead,
td.status-ok {
 font: normal normal 700 medium sans-serif;
 color: #000000;
 margin: 1em 1em auto 0;
 padding: .5ex;
 border-width: thin;
 border-style: none;
}

td.status-ok {
 text-align: center;
 vertical-align: middle;
 background-color: #00FF99;
}

td.status-failed {
 background-color: #DD2222;
}

td.status-failed,
td.status-skipped {
 text-align: center;
 vertical-align: middle;
 font: normal normal 700 medium sans-serif;
 color: #000000;
 margin: 1em 1em auto 0;
 padding: .5ex;
 border-width: thin;
 border-style: none;
}

td.status-skipped {
 background-color: #FFFF99;
}

td.abstract,
td.data {
 font: normal normal normal medium sans-serif;
 color: #000000;
 background-color: #E2E2E2;
 margin: 1em 1em auto 0;
 padding: .5ex;
 border-width: thin;
 border-style: none;
}

td.abstract p:first-child {
 margin-top: 0;
}

td.abstract p:last-child {
 margin-bottom: 0;
}

td.formatted {
 font: normal normal normal medium sans-serif;
 color: #000000;
 background-color: #E2E2E2;
 margin: 1em 1em auto 0;
 padding: .5ex;
 border-width: thin;
 border-style: none;
}

a#bib {
 text-decoration: underline;
 color: #0000EE;
}

table.links {
 margin: 0;
 padding: .5ex;
 border-width: thin;
 border-style: solid;
}

td.links {
 font: normal normal normal medium sans-serif;
 background-color: #E2E2E2;
 margin: 1em 1em 0 0;
 padding: .5ex;
}

div.date,
td.links {
 color: #000000;
 border-width: thin;
 border-style: none;
}

div.date {
 font-family: sans-serif;
 margin-top: 5ex;
 padding-top: 1ex;
 width: 100%
}

div.cite,
div.date {
 font-size: small;
}

div.list {
 margin: 0 0 0 4ex;
 padding: 0;
}

div.list a:link,
div.list a:visited {
 text-decoration: none;
}

div.list a:active,
div.list a:focus,
div.list a:hover {
 text-decoration: underline;
}

img {
    max-width: 90%;
}

pre.bibtex {
 white-space: pre;
 border-width: thin;
 border-style: solid;
}

code {
 padding: 1px 2px 2px;
}

code,
pre.code {
 background-color: #F2F2F2;
 color: #303030;
 border-radius: 4px;
}

pre.code {
 white-space: pre;
 padding: 10px 2px;
}

.chart {
 height: 400px;
 width: 400px;
 background: white;
 margin: 20px auto 40px;
 border: 1px solid black;
}

#most_used td {
 padding: 0 10px 0 0;
}

.nobr {
 white-space: nowrap;
}

a[download] {
 position: absolute;
 top: 0;
 right: 0;
 background: #d9d9d9;
 padding: 5px 7.5px;
}

a[download]:after {
 content: url(/images/download.svg);
 height: 1em;
 position: relative;
 top: .12em;
 left: .3em;
 width: 1em;
}

a[download]:focus,
a[download]:hover {
 text-decoration: none;
}

#searchInputautocomplete-list {
 width: 214px;
 position: absolute;
 margin-bottom: 24px;
 font-weight: 400;
 padding: 8px 0;
 background-color: #fff;
 border: 1px solid #dbdbdb;
 box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
 z-index: 1;
}

.form-container {
 width: 290px;
 text-align: left;
}

#searchInputautocomplete-list div {
 padding: 8px 12px;
 line-height: 16px;
 cursor: pointer;
}

#searchInput {
 width: 215px;
 padding: 6px;
 font-size: 16px;
}

#searchButton {
 height: 34px;
 font-size: 16px;
}

#searchInputautocomplete-list div:hover,
.autocomplete-active {
 background: #eee;
}

.entry {
    display: flex;
    align-items: center;
}

.item-text {
    width: 85%;
}

.item-date {
    color: #777;
    font-size: 14px;
    text-align: right;
    width: 15%;
    font-family: Consolas, monospace;
}