@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local(""), url("/font/open-sans-v18-latin-300.woff2") format("woff2"),
        url("/font/open-sans-v18-latin-300.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("/font/open-sans-v18-latin-regular.woff2") format("woff2"),
        url("/font/open-sans-v18-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local(""), url("/font/open-sans-v18-latin-italic.woff2") format("woff2"),
        url("/font/open-sans-v18-latin-italic.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("/font/open-sans-v18-latin-700.woff2") format("woff2"),
        url("/font/open-sans-v18-latin-700.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local(""), url("/font/open-sans-v18-latin-700italic.woff2") format("woff2"),
        url("/font/open-sans-v18-latin-700italic.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local(""), url("/font/open-sans-v18-latin-800.woff2") format("woff2"),
        url("/font/open-sans-v18-latin-800.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local(""), url("/font/open-sans-v18-latin-800italic.woff2") format("woff2"),
        url("/font/open-sans-v18-latin-800italic.woff") format("woff");
}

body {
    color: #000000;
    background: #ffffff;
    font-family: "Open Sans", sans-serif;
    display: grid;
    grid-template-columns: max(20%, 200px) 1fr;
    grid-template-areas: "sidebar content";
    justify-items: center;
    margin: 0;
}

aside {
    grid-area: sidebar;
    background-color: #2e2d4e;
    width: 20vw;
    margin: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 200px;
}

aside > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
    height: 100vh;
}

.logo {
    width: 40%;
    height: auto;
    padding: 10%;
}

aside div > a {
    display: block;
    text-align: center;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul a:link,
aside ul a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

aside li {
    padding: 0.5em 40px;
}

aside li:hover {
    background-color: #444373;
}

li {
    margin: 0.25em 0;
}

aside .active {
    background-color: #444373;
}

.entries ul {
    list-style-type: none;
}

.entries li {
    word-break: break-all;
}

.entries li::before {
    content: "–";
    position: absolute;
    margin-left: -1.3em;
}

aside a:focus {
    outline: 1px #acabcf solid;
    outline-offset: 3.5px;
}

header {
    border-bottom: 2px #555555 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.content {
    grid-area: content;
    margin: 0 auto 2rem;
    width: 50vw;
    min-width: 400px;
}

.content div {
    line-height: 1.35em;
    width: 100%;
}

.entries > div {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.entries main {
    padding-right: 2%;
}

.entries nav {
    text-align: right;
}

.links button,
.links a {
    display: inline-block;
    margin: 0.5rem 0;
}

.popUpButton:visited {
    color: white;
}

.popUpButton:link {
    border: none;
    padding: 0.75rem 0;
    text-decoration: none;
    background-color: #2e2d4e;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: background-color 200ms ease, transform 150ms ease;
    font-weight: bold;
    font-size: 0.9rem;
    width: 130px;
}

.popUpButton:active {
    transform: scale(0.98);
}

a:link {
    color: #0600c8;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #0000ee;
}

h1,
h2,
h3,
h4 {
    margin: 1.5em 0 0 0;
}

h1 {
    font-size: 2em;
    padding-bottom: 20px;
}

header h1 {
    margin: 0;
    padding: 0;
}

.content div h1 {
    border-bottom: 2px #555555 solid;
}

h2 {
    padding: 0;
}

.popup h2 {
    margin-top: 0;
}

h3 {
    font-stretch: normal;
    font-size: larger;
    padding: 0;
}

h3:first-child {
    margin: 0.5rem 0 0 0;
}

h3 {
    font-weight: 300;
}

h4 {
    margin-bottom: 0.5ex;
    font-weight: 700;
}

h1 span.first {
    font-size: 2.3rem;
}

.year {
    position: sticky;
    top: 0;
    background-color: white;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    border-bottom: 2px #555 solid;
}

img {
    max-width: 90%;
}

pre.bibtex {
    white-space: pre;
    border-width: thin;
    border-style: solid;
}

code {
    padding: 1px 2px 2px;
}

code,
pre {
    font-family: Consolas, monospace;
    background-color: #f2f2f2;
    color: #303030;
}

pre {
    padding: 1rem;
    overflow: auto;
}

pre.code {
    white-space: pre;
    padding: 10px 2px;
}

.chart {
    height: 400px;
    width: 400px;
    background: white;
    margin: 20px auto 40px;
    border: 1px solid black;
}

#most_used td {
    padding: 0 10px 0 0;
}

.nobr {
    white-space: nowrap;
}

#search-results > div {
    position: relative;
    margin: 1.5rem 0;
    border-bottom: 2px #ddd solid;
}

#search-results .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-results a[download] {
    padding: 5px 7.5px;
    flex-shrink: 0;
    margin-left: 1em;
}

a[download] {
    display: inline-block;
    line-height: 0;
    height: 22px;
    padding: 4px 7px;
}

.entry a[download] {
    position: absolute;
    top: 0;
    right: 0;
}

.popup a[download] {
    display: block;
    width: 154px;
    margin: 2.5rem auto 0;
}

a[download]::after {
    content: url(/images/download.svg);
    position: relative;
    top: 0.12em;
    left: 5px;
    padding-right: 5px;
}

a[download]:focus,
a[download]:hover,
.popUpButton:focus,
.popUpButton:hover {
    text-decoration: none;
}

div div form {
    margin: 0 auto;
    width: max-content;
}

.form-container {
    width: 290px;
    text-align: left;
}

#searchInput,
#searchButton,
button,
a[download] {
    border: 1px solid #777;
    font-size: 1rem;
    vertical-align: middle;
    background-color: white;
    color: black;
    line-height: 0;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
}

#searchInput,
#searchButton,
button {
    height: 2rem;
    padding: 7px;
}

button {
    font-weight: bold;
}

#searchButton:hover,
button:hover,
a[download]:hover {
    background-color: #ddd;
}

#searchButton:active,
button:active,
a[download]:active {
    background-color: #bbb;
}

#searchButton:focus,
button:focus,
a[download]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #c5c4ddbb;
}

#searchInput {
    width: 215px;
    border-right: none;
    font-family: "Open Sans", sans-serif;
}

header #searchInput {
    width: 175px;
}

header #searchButton {
    width: 2rem;
}

#searchButton img {
    max-width: 1rem;
}

#searchInputautocomplete-list {
    width: 214px;
    position: absolute;
    margin-bottom: 24px;
    font-weight: 400;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#searchInputautocomplete-list div {
    width: auto;
    padding: 8px 12px;
    line-height: 16px;
    cursor: pointer;
}

#searchInputautocomplete-list div:hover,
.autocomplete-active {
    background: #eee;
}

.entry {
    display: flex;
    align-items: center;
}

.item-text {
    width: 85%;
}

.date {
    color: #777;
    font-size: 14px;
}

.entry .date {
    text-align: right;
    width: 15%;
    font-family: Consolas, monospace;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.25);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}

.overlay .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.content .popup {
    background: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 2.5rem;
    display: block;
    width: auto;
    min-width: 300px;
    max-width: 90vw;
    max-height: 75vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

.popup .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2rem;
    right: 2rem;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    text-align: center;
}

.popup .close:hover {
    opacity: 1;
}
