{{ define "main" }}

{{ with (index $.Site.Data.authors .Title )}}
{{ with .website}}
<table class="entries">
  <tbody>
    <tr>
      <td>
        Website: <a href="{{ . }}">{{ . }}</a>
      </td>
    </tr>
  </tbody>
</table>

<p>&nbsp;</p>
{{ end }}
{{ end }}

<h2>Entries</h2>

{{- range (.Data.Pages).GroupByDate "2006" -}}
{{- if ne .Key "0001" -}}
<table class="entries">
  <tbody>
    <tr>
      <td class="head">{{ .Key }}</td>
    </tr>
    {{- range .Pages -}}
    {{ .Params.hidden }}
    <tr>
      <td class="entry">
        {{ .Date.Format "January 2" }}: <a class="title" href="https://isa-afp.org/entries/{{ .File.TranslationBaseName }}.html">{{.Title}}</a>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
<p>&nbsp;</p>
{{ end }}
{{ end }}
{{ end }}